ul{
    display: flex;
    justify-content: space-evenly;
    margin-right: 90px;
}
main{
    margin-top: 95px;
   
}

li{
    list-style-type: none;
    font-size: 3rem;
    height: 160px;
    width: 160px;
    
    /****centrer verticalement***/
    display: flex;
    align-items: center;
    justify-content: center;
}